.App {
  height: 100vh;
  width: 100%;
  background-image: url("assets/stacked-waves-haikei.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
